@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Jersey+10&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');




body{
  font-family: "Roboto", serif;
  background-color:#141c3a ;
  color:white;
}
.header{
  display:flex;
  height:100%;
  border-bottom:1px outset gray;
}
.header img{
  width:auto;
  height:80px;
  border-radius:30%;
}
/* removes the margin for more compact header */
/*add margin to the left for the logo pic */
h1{
  margin:0;
  margin-left: 15px;
}
h2{
  font-family: "Roboto", serif;
  font-weight: 900;
  font-style: normal;
}
p{
  font-family: "Roboto", serif;
  font-weight: 300;
  font-style: normal;
}
.sec-1{
  background-image: url("https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExcmFpbmI1ZmdsN2FtcnNibmdtazZ3OGlpbDNld3l4bzAwNGxmaGUzcCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/2UCzsg3w4xQ2wNEB1g/giphy.webp");
  background-repeat:no-repeat;
  background-size:cover;
}


.logo{
  display:flex;
  font-family: "Cedarville Cursive", serif;
  font-weight: 400;
  font-style: normal;
}

.content{
  display:flex;
  text-decoration: none;
  align-items: start;
}

.links{
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  margin-left:auto;
  list-style-type: none; 
  display:flex;
  justify-content:center;
  align-items:center;
  gap:25px;

}

.sec-2{
  background-color: white;
}

.intro{
  padding:20px;
  margin-bottom:20px;
  display:flex;
  width:500px;
  flex-direction: column;
  margin-left:100px;
  margin-top:50px;
  background: rgba(44, 42, 35, 0.5);
}
.intro-container{
  display:flex;
  padding-top:30px;
  gap:100px;
}
.intro-pic{
  display: flex;
  width:auto;
  height:300px;
  padding: 20px;
  margin-left:auto;
  
}
.learn-more-btn{
  display:block;
  font-size:16px;
  font-weight:500;
  width:20%;
  border:none;
  margin-left:30%;
  background-color: #b4ad63;
  color:black;
  border-radius:8px;
}
.sec-2{
  background-color: #324c5c;
}
.artwork-container{
  display:flex;
  justify-content: center;
  gap:20px;
  padding-bottom: 50px;

}
.title{
  display:flex;
  justify-content: center;
}
.artwork-container h2{
  display:flex;
  justify-content:center;
}
.artwork-info{
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:20px;
  width:200px;
}
.artwork-info img{
  display: flex;
  justify-content: center;
  width:200px;
  height:200px;
}
.text{
  font-style: italic;
  font-size:small;
}

.sec-3{
  color:	#324c5c;
}
.quote{
  margin-left:100px;
  font-weight: bolder;
  font-size:30px;
  padding-top:20px;
  padding-bottom: 0px;
}
.quote p{
  font-style: italic;
}
.modal{
  background-color:#f6e370;
  display:flex;
  gap:50px;
  margin:100px;
  border-radius: 10px;
  color:black;
  justify-content: center;
}
.notify{
  display: flex;
  align-items: center;
}
.notify-btn{
  background-color: black;
  color:white;
  text-decoration: none;
  border:none;
  border-radius:8px;
  width:100px;
}

footer{
  text-align:center;
}
