@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Jersey+10&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



body{
  background-color:#141c3a ;
  color:white;
}
.header{
  display:flex;
  height:100%;
  border-bottom:1px outset gray;
}
.header img{
  width:auto;
  height:80px;
  border-radius:30%;
}
/* removes the margin for more compact header */
/*add margin to the left for the logo pic */
h1{
  margin:0;
  margin-left: 15px;
}

.logo{
  display:flex;
  font-family: "Cedarville Cursive", serif;
  font-weight: 400;
  font-style: normal;
}

.content{
  display:flex;
  text-decoration: none;
  align-items: start;
}

.links{
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  margin-left:auto;
  list-style-type: none; 
  display:flex;
  justify-content:center;
  align-items:center;
  gap:25px;

}

.sec-2{
  background-color: white;
}