body{
    background-image: url("../static/imgs/bg.png");
    background-size:cover;
}

.container {
  margin-bottom:10px; /* space for buttons*/
  display: flex;
  flex-wrap: wrap; /* Allow wrapping to new rows */
  width: 500px; /* Fixed width */
  height: 500px; /* Fixed height */
}

.grid-item {
  flex: 1 1 calc(100% / var(--grid-size)); /* dynamic calculation of grid size */
  box-sizing: border-box; 
  background-color: #f0ecec;
  border: 1px solid black;
}

